 <div class="content flex-grow-1">
        <h1 class='content-title text-primary-emphasis'>Создание дохода/расхода</h1>
        <div class="form">
            <select id="selectType" class="form-control mb-2">
                <option selected hidden>Тип...</option>
                <option >доход</option>
                <option >расход</option>
            </select>

            <select id="selectCategory" class="form-control mb-2">
                <option selected hidden>Категория</option>
            </select>
            <input type="number" placeholder="Сумма в $..." class="form-control mb-2" id="amountInput">
            <input type="text" placeholder="Дата..." class="date form-control mb-2" id="dateInput">
            <input type="text" placeholder="Комментарий..." class="form-control mb-4" id="commentInput">
            <div class="form-actions">
                <button class="btn btn-success me-2" id="create" disabled>Создать</button>
                <button class="btn btn-danger" id="cancel">Отмена</button>
            </div>
        </div>
    </div>

