<div class="content">
    <h1 class='charges-title text-primary-emphasis'>Расходы</h1>
    <div class="charges-items d-flex flex-wrap" id="charges-items">
        <div class="charges-item empty-item border rounded-3" id="add">
            <a href="javascript:void(0)"
               class="plus d-flex justify-content-center align-items-center text-body-tertiary fs-4">+</a>
        </div>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Вы действительно хотите удалить категорию? Связанные расходы будут удалены навсегда.
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="confirm">Да, удалить
                </button>
                <button type="button" class="btn btn-danger" id="refuse" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>

