<div class="content">
    <h1 class='edit-title text-primary-emphasis'>Создание категории доходов</h1>
    <div class="edit d-flex flex-wrap flex-column">
      <input type="text" placeholder="Название..." class="create-input border-light-subtle rounded-1 form-control" id="newInput">
      <div class="edit-actions d-flex">
        <button class="btn btn-success me-2" id="create" >Создать</button>
        <button class="btn btn-danger" id="cancel">Отмена</button>
      </div>
    </div>
  </div>

