<div class="content">
        <h1 class='edit-title text-primary-emphasis'>Редактирование категории доходов</h1>
        <div class="edit d-flex flex-wrap flex-column">
            <input type="text" placeholder="Зарплата" class="edit-input border-light-subtle rounded-1 form-control">
            <div class="edit-actions d-flex">
                <button class="btn btn-success me-2" id="save">Сохранить</button>
                <button class="btn btn-danger" id="cancel">Отмена</button>
            </div>
        </div>
    </div>

